body {
    margin: 0px;
}

h1 {
    font-size: 50px;
    display: inline-block;
    margin-left: 5%;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}



#card {
    border: 1px solid gray;
    box-shadow: 5px 5px 5px;
    background-color: white;
    width: 75%;
    left: 12.5%;
    position: absolute;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 200px;
    height: 650px;
}

ol {
    padding-left: 75px;
}

li {
    font-size: 35px;
    line-height: 1.75;
    padding-left: 20px;
}

li:hover {
    position: relative;
    background-color: blue;
    border-radius: 50px;
    cursor: pointer;
}

#blank:hover {
    background-color: white;
    cursor: auto;
}

li:active {
    background-color: darkblue;
    color: white;
}

#blank:active {
    background-color: white;
    color: black;
}

header {
    background-color: darkblue;
    color: aquamarine;
}

button {
    position: relative;
    display: block;
    float: right;
    width: 200px;
    height: 75px;
    border-radius: 50px;
    font-size: 40px;
    font-weight: bold;
    color: aquamarine;
    background-color: darkblue;
    margin: 50px;
}

#timer {
    position: relative;
    float: right;
    margin-right: 5%;
}

#fail {
    display: flex;
    font-size: 200px;
    color: red;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#win {
    display: flex;
    font-size: 200px;
    color: rgb(0, 255, 55);
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;  
}

#scoreSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & p {
        margin: 10px;
    }
}

#highscoreMsg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px!important;
    color: rgb(0, 255, 55);
    background-color: darkblue;
    padding: 25px;
    border-radius: 20px;
}

#initMsg {
    justify-content: center;
    color: white;
}

#initInput {
    display: block;
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    font-family: reset;
    font-weight: bold;
}

#initSubmit {
    display: block;
    background-color: aquamarine;
    justify-self: center;
    margin-top: 15px;
    font-size: 25px;
    font-family: reset;
    font-weight: bold;
    border-radius: 7px;
}